useDynLib(kdml, .registration = TRUE, .fixes = "C_")
export("dkps", "dkss", "mscv.dkps", "mscv.dkss", "confactord", "kss", "spectral.clust",
       "mcmc.dkps", "mcmc.dkss", "kdml.diagnostics", "cuda_info")
S3method(print, kdml_mcmc)
S3method(print, summary.kdml_mcmc)
S3method(summary, kdml_mcmc)
S3method(plot, kdml_mcmc)
S3method(as_draws, kdml_mcmc)
S3method(as_draws_array, kdml_mcmc)
import(stats)
importFrom("np", "npudensbw")
importFrom("posterior", "as_draws")
importFrom("posterior", "as_draws_array")
importFrom("utils", "combn","capture.output")
